
.carousel-indicators li {
    display: inline-block;
    width: auto!important;
    height:auto!important;
    margin-right: 1px!important;
    text-indent: 0px!important;
    cursor: pointer!important;
    border: none!important;
    border-radius: 0px!important;
}
.carousel-indicators li img {
width: 50px;
    height: auto;
}
.carousel-indicators .active {
    border: #4e299a solid 2px!important;
}
.item img{
    width: 100%;

}
#wrap2{
    width: 1000px;
    height: 820px;
}
#wrap1 table tr td{
    font-weight: bold;
    color: white;
    width: 1%;
    background-color: #5b7fe2;
    text-align: center;
    cursor: pointer;
    padding: 10px;

}#wrap1 .active{
    background-color: #4d54a5;
}
#wrap1 table {
    border: rgba(0,0,0,0.5) solid 1px;
    border-collapse: collapse;
    border-spacing: 0;
}
#wrap1 table tr td:hover{
    background-color: #4d54a5;
}
#wrap1{
    width: 800px;
}
#wrap1 h4{
    margin: 0;
}
#isitab{
    padding: 20px;
    border:rgba(0,0,0,0.3) solid 1px;
border-top: white solid 1px;
}
.isi2, .isi3{
    display: none;
}



